<h1>UserEdit</h1>
<%= form_for(@user) do |f|%>
<ul>
      
      <li><%= f.label :name %>
      <li><%= f.text_field :name, class: 'form-control' %>

      <li><%= f.label :email %>
      <li><%= f.email_field :email, class: 'form-control' %>

      <li><%= f.label :password %>
      <li><%= f.password_field :password, class: 'form-control' %>

      <li><%= f.label :password_confirmation, "Confirmation" %>
      <li><%= f.password_field :password_confirmation, class: 'form-control' %>

      <li><%= f.submit "SaveChange", class: "btn btn-primary" %>
    </ul>
<% end %>
