<p><span class = "glyphicon glyphicon-user gray"></span>
  <%= @user.name %>
  <% if currentuser_correct? %>
    <%= link_to "edit?", edit_user_path %>
    <%= link_to "delete?", @user , :method => :delete %>
  <% end %>
  <% if @user.microposts.any? %>
    (<%= @user.microposts.count %>POSTS)
  </p>
    <% @microposts.each do |micropost| %>
    <div class="well pull-left">
      <ul class="media-list ">
        <li><%= image_tag micropost.picture.url if micropost.picture? %>
        <li><%= micropost.content %>
        <li><% (micropost.stars.to_i).times do |i|%>
          <span class = "fa fa-star red"></span>
          <% end %>
          <% (5-micropost.stars.to_i).times do |i|%>
          <span class = "fa fa-star-o"></span>
          <% end %>
          <%= content_tag :li, micropost.likes.count, class: "fa fa-heart red" %>
          <% if currentuser_correct? %>
        <li><%= link_to "delete?", micropost , method: :delete, data: { confirm: "You sure?" } %>
        </ul>
      </div>
      <% end %>
    <% end %>
   <% end %>
 </div>
 </div>
 </aside>
</div>
