<div class="panel panel-default">
  <div class="panel-heading">REVIEWS</div>
  <div class="panel-body">
    <% @microposts.each do |micropost| %>
    <div class="well">
      <span class="content">
        <%= image_tag micropost.picture.url if micropost.picture? %>
        <%= link_to micropost.user.name, micropost.user %>
        <h><%= micropost.content %></h>
      </span>
      <span id="like-of-<%= micropost.id %>">
        <%= render 'likes/like', micropost: micropost %>
      </span>
    </div>
    <% end %>
  </div>
</div>
