<% @microposts.each do |micropost| %>
    <div class="well pull-left">
      <ul class="media-list ">
        <li><%= image_tag micropost.picture.url if micropost.picture? %>
            <li><span class = "glyphicon glyphicon-user gray"></span>
      <%= link_to micropost.user.name, micropost.user %>
        <li><%= micropost.content %>
        <li><% (micropost.stars.to_i).times do |s| %>
          <span class = "glyphicon glyphicon-star red"></span>
          <% end %>
          <% (5-micropost.stars.to_i).times do |s| %>
            <span class = "glyphicon glyphicon-star-empty"></span>
          <% end %>
      <li id="like-of-<%= micropost.id %>">
        <%= render 'likes/like', micropost: micropost %>
      </li>
    </div>
    <% end %>
  </div>
