<%= form_for(@micropost) do |f| %>
<form class="form-horizontal">
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "Compose new micropost...", class: 'form-control' %>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
    <%= f.submit "Post", class: "btn btn-primary btn-block" %>
<% end %>
