<%= form_for(@micropost) do |f| %>
<form class="form-horizontal">
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "Compose new micropost...", class: 'form-control' %>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
    <%= f.label :stars%>
    <%= f.select :stars, {'★１' => 1 , '★２' => 2,'★3' => 3,'★4' => 4,'★5' => 5}%>
  </div>
    <%= f.submit "Post", class: "btn btn-primary btn-block" %>
<% end %>
